html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
  /*min-width: 2000px;*/
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 62.5%;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
}
html body {
  background-image: url(http://s.cdpn.io/55807/mooning.png);
  width: 100%;
}

#page-header {
  height: 70px;
  
  overflow: hidden;
  position: relative;
  background: #FF6699;
  border-bottom: 5px #D6D6CC;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 10px 30px #333;
  width: 100%;
}

#page-header nav {
  margin-left: 175px;
}

#page-header .logo a {
  top: 5px;
  position: absolute;
  left: 10px;
  height: 92px;
  width: 127px;
}

#page-header .logo.homepage a {
background: url(http://www.me.ngb.army.mil/img/core/military_history.jpg) no-repeat;
width:127px; 
background-size: 100%;
height:60px;
}

#page-header .logo.calendar a {
background: url(http://www.history.com/images/media/video/history_america_story_of_us_statue_of_liberty_sf_1158148/History_America_Story_of_Us_Statue_of_Liberty_SF_still_624x352.jpg) no-repeat;
width:127px; 
background-size: 100%;
height:60px;
}

#page-header .logo.forum a {
background: url(http://www.citypictures.net/data/media/141/US_Landmarks_45.JPG) no-repeat;
width:127px; 
background-size: 100%;
height:60px;
}

#page-header .logo.unitperspectives a {
background: url(http://www.madisonavenuejournal.com/images/Washington.jpg)  no-repeat;
width:127px; 
background-size: 100%;
height:60px;
}

#page-header .logo.currentevents a {
background: url(http://static.tumblr.com/aa0a315710c21eb8fc7d248caa159fad/po6ndjp/3pMmpiho6/tumblr_static_canadian_soldier500big.jpg) no-repeat;
width:127px; 
background-size: 100%;
height:60px;
}

#page-header .logo.notes a {
background: url(http://www.ucl.ac.uk/americas/us-studies/images/US-Constitution.jpg) no-repeat;
width:127px; 
background-size: 100%;
height:60px;
}

#page-header .logo.rescources a {
 no-repeat;
background-size: 100%;
}

#page-header .logo.homework a {
 no-repeat;
background-size: 100%;
}



#page-header nav {
  
  width: 75%;
  font-size: 1.6rem;
}
#page-header nav ul {
  margin: 15px auto;
  list-style-type: none;
  white-space: nowrap;
}
#page-header nav ul li {
  display: inline-block;
  color: white;
  margin-left: 50px;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  transition-property: color, background;
  transition-duration: .3s, .3s;
  transition-timing-function: linear, linear;
}
#page-header nav ul li:first-child {
  margin-left: 0;
}
#page-header nav ul li:hover {
  background: #FF0066;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
}

.container.container-adjust {
  margin: 40px 0px;
}



.container {
  border: 5px solid lightgrey;
  width: 70%;
  margin: 100px auto;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 10px 30px black;
  line-height: 19px;
  font-size: 1.8rem;
  line-height: 24px;
  background: -moz-linear-gradient(#ffffff, #aaaaaa);
  background: -webkit-linear-gradient(#ffffff, #aaaaaa);
  background: linear-gradient(#ffffff, #aaaaaa);
}

#page-footer {
  height: 100px;
  background: #FF6699;
  position: relative;
  /*border-top: 5px solid black;*/
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  padding: 30px;
  box-shadow: 0px -10px 30px black;
  font-size: 1.2rem;
}

.page-title {
  font-size: 18px;
  color: #FFF;
  background: #333333;
  padding: 5px 20px;
}



.header {
  border: 5px solid lightgrey;
  width: 90%;
  margin: 100px auto;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 10px 30px black;
  line-height: 19px;
  font-size: 1.8rem;
  line-height: 24px;
  background: -moz-linear-gradient(#ffffff, #aaaaaa);
  background: -webkit-linear-gradient(#ffffff, #aaaaaa);
  background: linear-gradient(#ffffff, #aaaaaa);
}

.font {
  text-align: center;
  font-size: 40px;
}

.container.container-adjust.container-adjustp {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/*this is the end of universal css*/
/*begining of unit-perspective css*/

.perspective-image {
  float: right;
}

.perspective-link li a {
  text-decoration: none;

}

/*end of unit-perspective css*/
/*begining of calendar css*/

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

table#t01 {
  width: 100%;
  background-color: #333;
  font-size: 20px;
}

table#t01 tr:nth-child(even) {
  background-color: #eee;
}

table#t01 tr:nth-child(odd) {
  background-color: #fff;
}

table#t01 th {
  color: white;
  background-color: black;
}

