.content-background {
    background-color: #fff;
}

.body {
    font-family: sans-serif;
    background: #000066;
}

.page-navigation {
	list-style: none;
}
.page-navigation li {
	padding: 0 25px;
    float: top;
    line-height: 50px;
    border-bottom-style: dotted;
}

.page-navigation li a{
	color:#222;
    text-decoration: none;
    font-size: 20px;
}

.page-navigation li a:hover {
	color: #333;
    text-decoration: none;
}

.main-content {
    background: #fff;
    margin-left: 280px;
}

.header-index {
    text-align: center;
    font-size: 150px;
}

.footer-index {
    text-align: center;
    color: #fff;
    font-size: 13px;
    padding: 16px;
    background: #754719;
    clear: both;
    border-radius: 15px;
}

.header-block {
    background: #4747A3;
    color: #fff;
    border-radius: 15px;
    float: l
}

.wrapper-navigation {
    float: left;
    margin-right: 0px;
    clear: both;
    background: #fff;
}

