.content-background {
    background-color: #fff;
    padding-bottom: 100px;
}

.body {
    font-family: sans-serif;
    background: #000066;
    padding: 50px;
}

.page-navigation {
	list-style: none;
    padding: 0px;
    margin-top: 0px;
}
.page-navigation li {
    float: top;
    line-height: 50px;
    border-width: 1px;
    border-bottom-style: dotted;
}

.page-navigation li a{
	color: #996633;
    text-decoration: none;
    font-size: 20px;
    padding-left: 40px;
}

.page-navigation li a:hover {
	color: #333;
    text-decoration: none;
}

.main-content {
    display: inline;
}

.header-index {
    font-weight: bold;
    font-size: 75px;
    display: inline;
    float: right;
    margin-right: 100px;
    margin-top: 75px;
}

.footer-index {
    text-align: center;
    color: #fff;
    font-size: 13px;
    padding: 16px;
    background: #663300;
    clear: both;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.header-block {
    background: #4747A3;
    color: #fff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-bottom: 30px;
}

.wrapper-navigation {
    float: left;
    color: #996633;
    margin-right: 0px;
    clear: both;
    padding-bottom: 150px;
}

.content-border {
    border-radius: 15px;
}

.tiny-paragraph {
    color: #000;
    font-size: 12px;
    font-style: normal;
    padding-left: 40px;
}

.beef {
    background: #fff;
    padding-bottom: 30px;
}

.float-image {
    display: inline;
    margin-top: 28px;
    margin-left: 50px
}

