@import "compass/reset";
@import "compass/css3";

$mainColor: #323232;

html {
  font-size: 62.5%;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  
  body {
    background-image: url(http://s.cdpn.io/55807/mooning.png);
    width: 100%;
  }

}

#page-header {
  height: 70px;
  overflow: hidden;
  position: relative;
  background: $mainColor;
  border-bottom: 5px solid black;
  box-shadow: 0px 10px 30px black;
  
  .logo a {
    background: url(http://www.me.ngb.army.mil/img/core/military_history.jpg) no-repeat;
    position: absolute;
    top: 5px; left: 10px;
    height: 92px; width: 127px;
    background-size: 100%;
  }

  nav {
    margin: 15px auto;
    width: 75%;
    font-size: 1.6rem;
  }
  
  nav ul {
    list-style-type: none;
    white-space: nowrap;
  }
  
  nav ul li {
    display: inline-block;
    color: white;
    margin-left: 50px;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    transition-property: color, background;   
    transition-duration: .3s, .3s;   
    transition-timing-function: linear, linear; 
    
    &:first-child {
      margin-left: 0;    
    }
    
    &:hover {
      background: darken($mainColor, 10%);
    }  
  }
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
}
.container {
  border: 5px solid lightgrey;
  width: 100%;
  margin-bottom:0%;
  margin-top:100px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 10px 30px black;
  line-height: 19px;
  font-size: 1.8rem;
  line-height: 24px;
  @include background(linear-gradient(#fff,#aaa));
}
.container-2 {
  border: 5px solid lightgray;
  width: 50%;
  margin-bottom:0%;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 10px 30px black;
  line-height: 19px;
  font-size: 1.8rem;
  line-height: 24px;
  @include background(linear-gradient(#fff,#aaa));
}

#page-footer {
  height: 100px;
  background: $mainColor;
  position: relative;
  border-top: 5px solid black;
  color: white;
  padding: 30px;
  box-shadow: 0px -10px 30px black;
  font-size: 1.2rem;
}

.page-title {
  font-size: 18px;
  color: #FFF;
  background: #333333;
  padding: 5px 20px;
}

.container-3 {
  border: 5px solid lightgray;
  width: 100%;
  margin-bottom:0%;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 10px 30px black;
  line-height: 19px;
  font-size: 1.8rem;
  line-height: 24px;
  @include background(linear-gradient(#fff,#aaa));
}

