.body {
	background-image: url(http://sandbox.yoyogames.com/extras/image/name/san2/989/311989/original/screenshot101.png);
	padding: 100px 200px;
}

.main-content {
	font-family: sans-serif;

}

.header-bar {
	width: 969px;
}

.logo-header {
	color: #FFF;
}

.contact-info {
	color: #0000FF;
	float: right;
	text-align: right;
	margin-top: 30px;
}

.underline {
	text-decoration: underline;
}

.address {
	font-weight: lighter;
}

.content {
	background: #FFF;
	height: 1000px;
	width: 1000px;
}

.navigation {
	height: 50px;
	width: 900px;
	text-align: center;
}

.navigation li {
	display: inline-block;
}

.navigation a {
	padding: 40px 25px;
}