.body {
	background-image: url(http://sandbox.yoyogames.com/extras/image/name/san2/989/311989/original/screenshot101.png);
	padding: 100px 200px;
}

.container {
	font-family: sans-serif;
}

.header-bar {
	width: 969px;
}

.logo-header {
	color: #FFF;
}

.contact-info {
	color: #0000FF;
	float: right;
	text-align: right;
	margin-top: 30px;
}

.underline {
	text-decoration: underline;
}

.address {
	font-weight: lighter;
}

.content {
	border-radius: 15px;
	background: #FFF;
	height: 1000px;
	width: 1000px;
	overflow: hidden;
}

.navigation {
	height: 50px;
	width: 900px;
	text-align: center;
}

.navigation li {
	float: left;
}

.our-services a {
	background-color: #FF9900;
	color: #FFF;
	margin-right: 15px;
	padding: 20px 10px;
	text-decoration: none;
}

.other-nav a {
	text-decoration: none;
	color: #FFF;
	margin-right: 15px;
	padding: 20px 10px;
	background-color: #00CC99;
}

.content-title {
	color: #FF9900;
	font-weight: bold;
	margin-left: 40px;
}

.block-nav {
	width: 900px;
	margin-left: 100px;
	padding:0;
}
.block-nav li {
	float: left;
	margin: 10px;
	box-sizing: border-box;
	list-style: none;
	width: 175px;
	height: 250px;
	background-color: #00CC99;
}

.imageback {
	margin-top: 75px;
	background-color: #FFF;
	width: 150px;
	margin-left: 12.5px;
}